#############
## folders ##
#############
build
cmake-*
image_common/
.vscode/

#############
##  files  ##
#############
*.*~
*.*user.*
*.user
*.autosave
*.orig
*~
*.idea
*.pyc
*.save

# Vim
*.swp
*.swo

# catkin
build/
devel/
CATKIN_IGNORE