<?xml version="1.0"?>
<launch>
 <node pkg="pylon_camera" name="pylon_camera" type="pylon_camera_node" output="screen"> <!--  respawn="true" respawn_delay="30" -->
  <param name="camera_frame" value="test_cam" type="string" /> <!-- frame to which the camera is attached -->
  <param name="exposure" value="-1" type="int" />
  <param name="use_sequencer" value="true" type="bool" />
  <rosparam param="desired_brightness_seq"> [2000, 7000, 10000] </rosparam>
  <param name="output_hdr_img" value="true" type="bool" />
  <param name="desired_framerate" value="100.0" type="double" />
  <param name="use_brightness" value="true" type="bool" />
  <param name="intrinsic_yaml_string" command="cat $(find pylon_camera)/calib/cam15_f6mm_2014-12-18.yml"/>
  <!-- <param name="intrinsic_yaml_string" command="cat /home/md/Desktop/calib.yml"/> -->
 </node>
 <node name="image_view_hdr" pkg="image_view" type="image_view" respawn="false" output="screen">
  <remap from="image" to="/pylon_camera/image_hdr"/>
 </node>
 <node name="image_view_rect" pkg="image_view" type="image_view" respawn="false" output="screen">
  <remap from="image" to="/pylon_camera/image_raw"/>
 </node>
</launch>
