<?xml version="1.0"?>
<launch>

  <node name="exp_comp_node" pkg="pylon_camera" type="compatibility_exposure_action.py" output="screen"  respawn_delay="5" />
  <node name="crane" pkg="pylon_camera" type="pylon_camera_node" output="screen" respawn="true" respawn_delay="5" > 
    <!-- set exposure to -1 (or delete parameter to activate auto exposure -->
      <param name="pylon_exposure_mu_s" value="3000" type="int" />
      <param name="mtu_size" value="9000" type="int" />
      <param name="camera_frame" value="crane_camera" type="string" /> <!-- frame to which the camera is attached -->
      <param name="desired_framerate" value="5" type="double" />
      <param name="write_exp_to_db" value="true" type="bool" />
      <param name="magazino_cam_id"  value="MARU_0003_crane"  type="string" />
     <param name="intrinsic_yaml_string" command="python -c 'import django; from maru_status.models import IntrinsicCalibration; print IntrinsicCalibration.objects.get(CamID=31).data'" />
    </node>
</launch>






