<launch>



  <node name="pylon" pkg="pylon_camera" type="pylon_camera_node" output="screen" respawn_delay="30">
      <param name="camera_frame" value="reference_camera_base" type="string" />
      
    <!-- set exposure to -1 (or delete parameter to activate auto exposure -->
      <param name="pylon_exposure_mu_s" value="22000" type="int" />
      <param name="camera_identifier" value="x" type="string" />
      <param name="camera_frame" value="reference_camera_base" type="string" /> <!-- frame to which the camera is attached -->
      <param name="intrinsic_cam_id" value="22" type="int" />  <!-- id to find intrinsic calib in DB -->

  </node>



</launch>




