<?xml version="1.0"?>
<launch>
  <node name="pylon" pkg="pylon_camera" type="pylon_camera_node" output="screen">
  <param name="camera_frame" value="/pylon_camera" type="string" /> <!-- frame to which the camera is attached -->
  <param name="start_exposure" value="10000" type="int" />
  <param name="use_sequencer" value="false" type="bool" />
  <param name="desired_framerate" value="50.0" type="double" />
  <param name="use_brightness" value="true" type="bool" />
  </node>
</launch>

