<?xml version="1.0"?>
<launch>
 <node pkg="pylon_camera" name="sol_camera" type="pylon_camera_node" output="screen" respawn="true" respawn_delay="30" >
  <param name="camera_frame" value="/sol_camera" type="string" /> <!-- frame to which the camera is attached -->
  <param name="start_exposure" value="10000" type="int" />
  <param name="use_sequencer" value="false" type="bool" />
  <param name="desired_framerate" value="2.0" type="double" />
  <param name="use_brightness" value="true" type="bool" />
  <param name="intrinsic_yaml_string" command="cat $(find pylon_camera)/calib/TORU_0001_SOL_intrinsic_calib.yml"/>
  <param name="magazino_cam_id"  value="SOL_0001_SO"  type="string" />
  <!--param name="intrinsic_yaml_string" command="cat $(find pylon_camera)/calib/cam15_f6mm_2014-12-18.yml"/-->
  </node>
</launch>
