<?xml version="1.0"?>
<launch>
 <node pkg="pylon_camera" name="toru_camera" type="pylon_camera_node"> <!--  respawn="true" respawn_delay="30" -->
  <param name="camera_frame" value="/toru_camera" type="string" /> <!-- frame to which the camera is attached -->
  <param name="exposure" value="-1" type="int" />
  <param name="use_sequencer" value="false" type="bool" />
  <param name="desired_framerate" value="10.0" type="double" />
  <param name="use_brightness" value="true" type="bool" />
  <param name="magazino_cam_id"  value="TORU_0001_gripper"  type="string" />
  <param name="intrinsic_yaml_string" command="cat $(find pylon_camera)/calib/toru.yml"/>
  </node>
<arg name="marker_size" default="13.0" />
<arg name="max_new_marker_error" default="0.08" />
<arg name="max_track_error" default="0.2" />
<arg name="cam_image_topic" default="/toru_camera/image_raw" />
<arg name="cam_info_topic" default="/toru_camera/camera_info" />
<arg name="output_frame" default="/toru_camera" />
<arg name="markers_topic" default="/ar_pose_marker" />
<arg name="viz_topic" default="/visualization_marker" />
<arg name="node_name" default="ar_track" />
<arg name="recalibrate_all" default="0" />
<node name="$(arg node_name)" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" >
   <remap from="ar_pose_marker" to="$(arg markers_topic)"/>
   <remap from="visualization_marker" to="$(arg viz_topic)"/>
</node>

<!--node name="state_transform" pkg="tf" type="static_transform_publisher" args="-0.5 0.1 0.6 0.9 0.3 0.1 /jaco_link_base /toru_camera 100" /-->


</launch>
