<?xml version="1.0"?>
<launch>
	<arg name="respawn" default="false" />
	<arg name="debug" default="false" />
	<arg name="mtu_size" default="3000" />
	<arg name="enable_status_publisher" default="true" />
	<arg name="enable_current_params_publisher" default="true" />
	<arg name="config_file" default="$(find pylon_camera)/config/default.yaml" />
	<arg name="startup_user_set" default="CurrentSetting" />
		
	<node name="cam3" pkg="pylon_camera" type="pylon_camera_node" output="screen"
	  respawn="$(arg respawn)" launch-prefix="bash -c 'sleep 1.0; $0 $@'">
		<rosparam command="load" file="$(find pylon_camera)/config/cam3_config.yaml"/>
		<param name="Device_User_Id" value="123"/>
		<param name="camera_ip" value="169.254.1.23"/>
		<param name="encoding" value="yuv422"/>
		<param name="camera_info_url" value="$(find pylon_camera)/config/cam3.yaml"/>
		<param name="gige/mtu_size" value="$(arg mtu_size)"/>
		<param name="enable_status_publisher" value="$(arg enable_status_publisher)"/>
		<param name="enable_current_params_publisher" value="$(arg enable_current_params_publisher)"/>		
	</node>
	
	<node name="cam4" pkg="pylon_camera" type="pylon_camera_node" output="screen"
	  respawn="$(arg respawn)" launch-prefix="bash -c 'sleep 1.5; $0 $@'">
		<rosparam command="load" file="$(find pylon_camera)/config/cam4_config.yaml"/>
		<param name="Device_User_Id" value="124"/>
		<param name="camera_ip" value="169.254.1.24"/>
		<param name="encoding" value="yuv422"/>
		<param name="camera_info_url" value="$(find pylon_camera)/config/cam4.yaml"/>
		<param name="gige/mtu_size" value="$(arg mtu_size)"/>
		<param name="enable_status_publisher" value="$(arg enable_status_publisher)"/>
		<param name="enable_current_params_publisher" value="$(arg enable_current_params_publisher)"/>		
	</node>

</launch>
